{% extends 'accueil.html' %}
{% block content %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
            <img  src="{{ url_for('static',filename='image/prolo.jpg')}}" class="img-fluid" alt="..." padding-top="15px">
      </div>
      <div class="carousel-item">
            <img  src="{{ url_for('static',filename='image/3.jpg')}}" class="img-fluid" alt="..." padding-top="15px">
      </div>
      <div class="carousel-item">
        <img  src="{{ url_for('static',filename='image/5.gif')}}" class="img-fluid" alt="..." padding-top="15px">
      </div>
    </div>
  </div>
{% endblock content %}