
{% extends 'accueil.html' %}
{% block content %}

        <div class="inscrit">
            <div>
                
                    <table class="table table-striped">
                        <tr>
                                
                            <th><h3>matricule</h3></th>
                            <th><h3>pseudo</h3></th>
                            <th><h3>nom</h3></th>
                            <th><h3>prenom</h3></th>
                            <th><h3>date nais</h3></th>
                            <th><h3>statu</h3></th> 
                            <th><h3>sexe</h3></th>
                            <th><h3>promo</h3></th>
                            
                            
                            
                           
                        </tr>
                        {% for row in ap2 %}
                            <tr>
                                
                                <td><h3>{{row.1}}</h3></td>
                                <td><h2>{{row.2}}</h2></td>
                                <td><h2>{{row.3}}</h2></td>
                                <td><h2>{{row.4}}</h2></td>
                                <td><h3>{{row.5}}</h3></td>
                                <td><h3>{{row.6}}</h3></td>
                                <td><h3>{{row.7}}</h3></td>
                                <td><h3>{{row.8}}</h3></td>
                            
                                
                                
                            </tr>
                        {% endfor%}
                    </table>
            
            </div>
        
         
        
            </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock content %}